// Fonts
$nunito: 'Nunito Sans', sans-serif;
$inter: 'Inter', sans-serif;
$tahoma: 'Tahoma', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;
$lora: 'Lora', serif;
$mark-script: 'Marck Script', cursive;;

// Colors
$light-green: #00B2E3;
$middle-blue: #4D6A9D;
$dark-blue: #214584;
