.activities {
    padding: 81px 0 0 0;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__small-title {
        font-family: $inter;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $dark-blue;
        margin-bottom: 26px;
    }
    h2 {
        text-align: center;
    }
    &__text {
        margin: 33px 0 41px 0;
        font-family: $tahoma;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 183.4%;
        text-align: center;
        color: $middle-blue;
    }

    &__link {
        background: #E9EDF3;
        border-radius: 5px;
        display: inline-block;
        padding: 10px 28px;
        font-family: $inter;;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        &:hover {
            background: #dbe2ee;
        }
        &:active {
            color: #fff;
            background: $light-green;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin-bottom: 10px;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}